<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout::head">
        <title>Accounts</title>
    </head>
    <body>
        <nav th:replace="fragments/layout::navigation"></nav>
        <div th:replace="fragments/layout::notification"></div>
        <div th:replace="fragments/layout::confirmation"></div>
        <header class="container jumbotron">
            <h1><span class="glyphicon glyphicon-globe align-bottom" aria-hidden="true"></span> Welcome to Habitus!</h1>
            <p>View our users around the world</p>
            <form class="form-inline" th:action="@{/accounts}" method="GET">
                <div class="form-group has-feedback">
                    <label for="search"></label>
                    <input class="form-control" type="text" name="query" th:value="${query}" placeholder="Search users" autocomplete="off"/>
                    <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                </div>
            </form>
        </header>

        <div class="container">
            <div th:each="presentation : ${presentations}">
                <div class="">
                    <div class="col-lg-3 col-sm-6">

                        <div class="card hovercard">
                            <div class="cardheader">

                            </div>
                            <div class="avatar">
                                <img alt="" th:src="@{/images/user.png}"/>
                            </div>
                            <div class="info">
                                <div class="title">
                                    <a th:href="@{|/accounts/${presentation.account.url}/posts|}" 
                                       th:text="${presentation.account.forename} + ' ' + ${presentation.account.surname}">
                                        Forename Surname
                                    </a>
                                </div>
                                <div sec:authorize="!isAuthenticated()" class="desc" th:text="${presentation.description}">Status</div>
                            </div>

                            <span sec:authorize="isAuthenticated()">
                                <span th:each = "button : ${presentation.buttons}">
                                    <span th:switch="${button.epiteth.toString()}">
                                        <span th:case="'BTN_INVITE'">
                                            <div class="info">
                                                <div class="desc" th:text="${presentation.description}">Status</div>
                                                <div class="desc"><br/></div>
                                            </div>
                                            <div class="bottom">
                                                <a class="btn btn-info" 
                                                   th:href="@{${button.link}}"
                                                   th:text="${button.text}">
                                                </a>  
                                            </div>
                                        </span>
                                        <span th:case="'BTN_CANCEL'">
                                            <div class="info">
                                                <div class="desc" th:text="${presentation.description}">Status</div>
                                                <div class="desc" th:text="${#temporals.format(presentation.dateTime, 'dd-MM-yyyy HH:mm') + '.'}"></div>
                                            </div>
                                            <div class="bottom">
                                                <a
                                                    class="btn btn-danger http-verb-delete"
                                                    th:href="@{${button.link}}"
                                                    th:attr="data-redirect = @{||}, data-reload=true"
                                                    th:text="${button.text}"
                                                    >
                                                </a>
                                            </div>
                                        </span>
                                        <span th:case="'BTN_CONFIRM'">
                                            <div class="info">
                                                <div class="desc" th:text="${presentation.description}">Status</div>
                                                <div class="desc" th:text="${#temporals.format(presentation.dateTime, 'dd-MM-yyyy HH:mm') + '?'}"></div>
                                            </div>
                                            <a class="btn btn-success" 
                                               th:href="@{${button.link}}"
                                               th:text="${button.text}">
                                            </a> 
                                        </span>

                                        <span th:case="'BTN_IGNORE'">
                                            <a
                                                class="btn btn-warning http-verb-delete"
                                                th:href="@{${button.link}}"
                                                th:attr="data-redirect = @{||},
                                                data-reload=true"
                                                th:text="${button.text}"
                                                >
                                            </a>
                                            <div class="bottom"></div>
                                        </span>

                                        <span th:case="'BTN_CONFIRM'">
                                            <div class="info">
                                                <div class="desc" th:text="${presentation.description}">Status</div>
                                                <div class="desc" th:text="${#temporals.format(presentation.dateTime, 'dd-MM-yyyy HH:mm') + '?'}"></div>
                                            </div>
                                            <a class="btn btn-success" 
                                               th:href="@{${button.link}}"
                                               th:text="${button.text}">
                                            </a> 
                                        </span>

                                        <span th:case="'BTN_UNFRIEND'">
                                            <div class="info">
                                                <div class="desc" th:text="${presentation.description}">Status</div>
                                                <div class="desc"><br/></div>
                                            </div>
                                            <div class="bottom">
                                                
                                            <a
                                                class="btn btn-warning http-verb-delete"
                                                th:href="@{${button.link}}"
                                                th:attr="data-redirect = @{||}, data-reload=true"
                                                th:text="${button.text}"
                                                >
                                            </a>
                                            </div>
                                        </span>

                                        <span th:case="'BTN_ME'">
                                            <div class="info">
                                                <div class="desc" th:text="${presentation.description}">Status</div>
                                                <div class="desc"><br/></div>
                                            </div>
                                            <div class="bottom">
                                                <a class="btn btn-primary" 
                                                   th:href="@{${button.link}}" 
                                                   th:text="${button.text}">
                                                </a> 
                                            </div>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        </div>


        <div th:replace="fragments/layout::footer"></div>
        <script th:src="@{/js/ajaxDelete.js}"></script>
    </body>
</html>
