<!DOCTYPE html>
<html>
    <head th:replace="fragments/layout::head">
        <title>Post</title>
    </head>
    <body>
        <nav th:replace="fragments/layout::navigation"></nav>
        <div th:replace="fragments/layout::notification"></div>
        <div class="row">
            <h1 style="text-align: center">Edit Message</h1>
            <div class="rwd-form">
                <form id="edit-post-form" >
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input class="form-control" type="text" name="title" th:value="${post.title}" autofocus="autofocus" autocomplete="off" required />
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea rows="5" cols="40" class="form-control" name="message" th:text="${post.message}" required></textarea>
                    </div>
                    <div class="form-group">
                        <a 
                            class="btn btn-md btn-primary btn-block http-verb-put" 
                            th:attr="data-href = @{|/accounts/${url}/posts/${post.id}|},
                            data-redirect = @{|/accounts/${wallOwner.url}/posts|},
                            data-formid=edit-post-form", data-reload=false>
                            Update
                        </a>
                    </div>
                    <hr>
                    <a th:href="@{|/accounts/${wallOwner.url}/posts|}">Back</a>
                </form>
            </div>
        </div>
        <div th:replace="fragments/layout::footer"></div>
        <script th:src="@{/js/ajaxPut.js}"></script>
    </body>
</html>
