<!DOCTYPE html>
<html>
    <head th:replace="fragments/layout::head">
        <title>Wall</title>
    </head>
    <body>
        <nav th:replace="fragments/layout::navigation"></nav>
        <div th:replace="fragments/layout::notification"></div>
        <div th:replace="fragments/layout::confirmation"></div>
        <header class="container jumbotron">
            <h1>
                <span
                    class="glyphicon glyphicon-user align-bottom"
                    aria-hidden="true"
                    ></span>
                <span th:text="| ${wallOwner.forename} ${wallOwner.surname}|"></span>
            </h1>
            <p>Wall is for friends to share posts</p>
            <hr />
            <div sec:authorize="isAuthenticated()">
                <div th:if="${isFriend}">
                    <a
                        class="pull-right"
                        th:href="|/accounts/${wallOwner.url}/posts/new|"
                        >
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Share New Post
                    </a>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <div th:if="${posts.isEmpty()}">
                    <div class="col-md-9">
                        <div class="thumbnail">
                            <div class="caption">
                                <p>This wall is empty for now.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:unless="${posts.isEmpty()}">
                    <div th:each="post : ${posts}">
                        <div class="col-md-9">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h4><a th:text="${post.title}">Post Title</a></h4>
                                    <p th:text="${post.message}">Post Message</p>
                                    <p>
                                        <em>
                                            Submitted By
                                            <a
                                                th:href="@{|/accounts/${post.actor.url}/posts|}"
                                                th:text="${post.actor.forename} + ' ' + ${post.actor.surname}"
                                                >
                                                Forename Surname
                                            </a>
                                            <span
                                                th:text="${#temporals.format(post.createdOn, 'dd-MM-yyyy HH:mm') + '.'}"
                                                >
                                                Forename Surname, created on
                                            </span>
                                        </em>
                                    </p>
                                    <span sec:authorize="!isAuthenticated()">
                                        <a class="btn btn-success btn-sm disabled" href="#" th:text="${@likeService.count(post) + ' likes'}">Disabled Like</a>
                                    </span>
                                    <span sec:authorize="isAuthenticated()">
                                        <span th:if="${isFriend} and not ${@likeService.liked(post, currentUser)}">
                                            <a
                                                class="btn btn-success btn-sm http-verb-post"
                                                th:href="@{|/accounts/${url}/posts/${post.id}/likes|}"
                                                th:attr="data-redirect = @{|/accounts/${wallOwner.url}/posts#comments${post.id}|},
                                                data-formid='', data-reload=true"
                                                th:text="${@likeService.count(post) + ' likes 👍'}">
                                                Like
                                            </a>
                                        </span>
                                        <span th:unless="${isFriend} and not ${@likeService.liked(post, currentUser)}">
                                            <a class="btn btn-success btn-sm disabled" href="#" th:text="${@likeService.count(post) + ' likes'}">Disabled Like</a>
                                        </span>

                                        <!-- pull-right swaps the order of Delete and Edit buttons on screen -->
                                        <span th:if="${currentUser} == ${wallOwner} or (${currentUser} == ${post.actor} and ${isFriend} and ${post.createdOn.isAfter(#temporals.createNow().minusHours(1))})">
                                            <a
                                                class="btn btn-danger btn-sm pull-right http-verb-delete"
                                                th:href="@{|/accounts/${url}/posts/${post.id}|}"
                                                th:attr="data-redirect = @{||},
                                                data-reload=true">
                                                Delete
                                            </a>
                                        </span>
                                        <span th:if="${isFriend} and ${currentUser} == ${post.actor} and ${post.createdOn.isAfter(#temporals.createNow().minusHours(1))}">
                                            <a
                                                class="btn btn-warning btn-sm pull-right"
                                                style="margin-right: .5rem"
                                                th:href="@{|/accounts/${url}/posts/${post.id}/edit|}">
                                                Edit
                                            </a>
                                        </span>
                                    </span>
                                </div>

                                <!-- Comments section -->
                                <div class="well">
                                    <!--Comment section title-->
                                    <a th:id="'#comments' + ${post.id}"></a>
                                    <h4 style="display:inline">
                                        <span
                                            class="glyphicon glyphicon glyphicon-comment"
                                            aria-hidden="true"
                                            ></span>
                                        <strong>Comments</strong>
                                    </h4>
                                    <span sec:authorize="isAuthenticated()">
                                        <span th:if="${currentUser} == ${wallOwner} or ${isFriend}">
                                            <span class="text-right">
                                                <a
                                                    class="btn btn-success btn-sm pull-right"
                                                    role="button"
                                                    data-toggle="collapse"
                                                    th:href="'#collapseAddComment' + ${post.id}"
                                                    aria-expanded="false"
                                                    th:attr="aria-controls=|collapseAddComment${post.id}|"
                                                    >
                                                    <span
                                                        class="glyphicon glyphicon-plus"
                                                        aria-hidden="true"
                                                        ></span>
                                                    Add new comment
                                                </a>
                                            </span>

                                            <p></p>
                                            <!--Collapse Add a comment form START-->
                                            <div
                                                class="collapse"
                                                th:id="'collapseAddComment' + ${post.id}"
                                                >
                                                <div
                                                    class="well"
                                                    style="border-left: 3px solid #00A546;"
                                                    >
                                                    <form th:id="|add-comment-form-${post.id}|">
                                                        <div class="form-group">
                                                            <textarea
                                                                class="form-control"
                                                                name="comment"
                                                                placeholder="What are you thinking about?"
                                                                th:attr="form=|add-comment-form-${post.id}|"
                                                                rows="5"
                                                                cols="70"
                                                                autocomplete="off"
                                                                ></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <a
                                                                class="btn btn-warning btn-xs http-verb-post"
                                                                th:href="@{|posts/${post.id}/comments|}"
                                                                th:attr="data-redirect = @{|/accounts/${wallOwner.url}/posts#comments${post.id}|},
                                                                data-formid=|add-comment-form-${post.id}|, data-reload=true"
                                                                >
                                                                Send
                                                            </a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </span>
                                    </span>

                                    <!--Check if there are comments-->
                                    <div th:if="${post.comments.isEmpty()}">
                                        <em style="color: grey;">No comments yet.</em>
                                    </div>

                                    <div th:unless="${post.comments.isEmpty()}">
                                        <div th:each="comment:${@commentService.getMany(post, 10)}">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <strong>
                                                        <a
                                                            th:id="|edit${comment.id}|"
                                                            th:href="@{|/accounts/${comment.actor.url}/posts|}"
                                                            th:text="${comment.actor.forename} + ' ' + ${comment.actor.surname}"
                                                            >
                                                            Forename Surname
                                                        </a>
                                                    </strong>
                                                    <em>
                                                        <span
                                                            th:text="${#temporals.format(comment.createdOn, 'dd-MM-yyyy HH:mm')} + '.'"
                                                            >
                                                            , created on
                                                        </span>
                                                    </em>
                                                    <p th:text="${comment.comment}">
                                                        Comment text
                                                    </p>

                                                    <div sec:authorize="isAuthenticated()">
                                                        <span
                                                            th:if="${currentUser} == ${comment.actor} and ${isFriend} and ${comment.createdOn.isAfter(#temporals.createNow().minusHours(1))}"
                                                            >
                                                            <a
                                                                class="btn btn-warning btn-xs"
                                                                role="button"
                                                                data-toggle="collapse"
                                                                th:href="'#collapseEditComment' + ${comment.id}"
                                                                aria-expanded="false"
                                                                th:attr="aria-controls='collapse' + ${comment.id}"
                                                                >Edit</a
                                                            >
                                                        </span>

                                                        <span
                                                            th:if="${currentUser} == ${wallOwner} or (${currentUser} == ${comment.actor} and ${isFriend} and ${comment.createdOn.isAfter(#temporals.createNow().minusHours(1))})"
                                                            >
                                                            <a
                                                                class="btn btn-danger btn-xs http-verb-delete"
                                                                th:href="@{|posts/${post.id}/comments/${comment.id}|}"
                                                                th:attr="data-redirect = @{|/accounts/${wallOwner.url}/posts#comments${post.id}|},
                                                                data-reload=true"
                                                                >
                                                                Delete
                                                            </a>
                                                        </span>

                                                        <!--Edit comment form-->
                                                        <!--make each id attribute unique by adding comment.id-->
                                                        <span
                                                            th:if="${currentUser} == ${comment.actor} and ${isFriend} and ${comment.createdOn.isAfter(#temporals.createNow().minusHours(1))}"
                                                            >
                                                            <div
                                                                class="collapse"
                                                                th:id="'collapseEditComment' + ${comment.id}"
                                                                >
                                                                <div
                                                                    class="well"
                                                                    style="border-left: 3px solid #ffbb33; margin-top: 15px;"
                                                                    >
                                                                    <h4>
                                                                        Edit your comment
                                                                        <span
                                                                            class="glyphicon glyphicon-edit"
                                                                            aria-hidden="true"
                                                                            ></span>
                                                                    </h4>
                                                                    <form
                                                                        th:id="|edit-comment-form-${comment.id}|"
                                                                        >
                                                                        <div class="form-group">
                                                                            <textarea
                                                                                class="form-control"
                                                                                name="comment"
                                                                                placeholder="What do you think about?"
                                                                                th:attr="form=|edit-comment-form-${comment.id}|"
                                                                                rows="5"
                                                                                cols="70"
                                                                                autocomplete="off"
                                                                                th:text="${comment.comment}"
                                                                                >
                                                                                Comment
                                                                            </textarea
                                                                            >
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <a
                                                                                class="btn btn-warning btn-xs http-verb-put"
                                                                                th:href="@{|posts/${post.id}/comments/${comment.id}|}"
                                                                                th:attr="data-redirect = @{|/accounts/${wallOwner.url}/posts#edit${comment.id}|},
                                                                                data-formid=|edit-comment-form-${comment.id}|, data-reload=true"
                                                                                >
                                                                                Save
                                                                            </a>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </span>

                                                        <hr />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/layout::footer"></div>
        <script th:src="@{/js/ajaxDelete.js}"></script>
        <script th:src="@{/js/ajaxPost.js}"></script>
        <script th:src="@{/js/ajaxPut.js}"></script>
    </body>
</html>
