<!DOCTYPE html>
<html>
    <head th:replace="fragments/layout::head">
        <title>Post</title>
    </head>
    <body>
        <nav th:replace="fragments/layout::navigation"></nav>
        <div th:replace="fragments/layout::notification"></div>
        <div class="row">
            <h1 style="text-align: center">Post a new Message</h1>
            <div class="rwd-form">
                <form th:action="@{|/accounts/${wallOwner.url}/posts|}" method="POST">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input class="form-control" type="text" name="title" autofocus="autofocus" autocomplete="off" required />
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea rows="5" cols="40" class="form-control" name="message" required></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-md btn-primary btn-block">Publish</button>
                    </div>
                    <hr>
                    <a th:href="@{|/accounts/${wallOwner.url}/posts|}">Back</a>
                </form>
            </div>
        </div>
        <div th:replace="fragments/layout::footer"></div>
    </body>
</html>
