<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Habitus</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Habitus is a hands-on project on programming a Facebook-like application with Java Spring."/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link rel="icon" th:href="@{/images/favicon.ico}" />
        <link type="text/css" th:href="@{/styles/main.css}" rel="stylesheet"/>
        <link type="text/css" th:href="@{/styles/flashMessage.css}" rel="stylesheet"/>
        <link type="text/css" th:href="@{/styles/card.css}" rel="stylesheet"/>
    </head>
    <body>
        <nav th:fragment="navigation" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Habitus</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="" th:classappend="${page} == 'accounts' ? active : passive">
                            <a href="/accounts">Home</a> 
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" sec:authorize="!isAuthenticated()">
                        <li class="" th:classappend="${page} == 'login' ? active : passive">
                            <a href="/login">Login</a> 
                        </li>
                        <li class="" th:classappend="${page} == 'register' ? active : passive">
                            <a href="/accounts/new">Sign Up</a> 
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                        <li>
                            <a th:href="@{|/accounts/${currentUser.url}/edit|}" th:text="|Hi, ${currentUser.forename}|">User</a>
                        </li>
                        <li>
                            <form th:action="@{/logout}" method="POST">
                                <input class="link-button" type="submit" value="Logout"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div th:fragment="confirmation">
            <div id="id_confirm" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content pull-left">
                        // Javascript creates content.
                    </div>
                </div>
            </div>
        </div>

        <div th:fragment="notification" class="container">
            <div th:if="${messages} and ${messages.size()} &gt; 0">
                <div class="flash">
                    <div class="alert">
                        <ul class="list-group" th:each="message : ${messages}">
                            <li class="list-group-item list-group-item-info" th:text="${message}"/>
                        </ul>
                    </div>
                </div>
            </div>

            <div th:if="${error} and ${error.length()} &gt; 0" >
                <div class="flash">
                    <div class="alert alert-danger" role="alert" th:text="${error}">
                        error
                    </div>
                </div>
            </div>
            <div th:if="${success} and ${success.length()} &gt; 0">
                <div class="flash">
                    <div class="alert alert-success" role="alert" th:text="${success}">
                        success
                    </div>
                </div>
            </div>
        </div>

        <footer th:fragment="footer">
            <!-- jQuery CDN -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js">
            </script>
            <!-- Bootstrap JS CDN -->
            <script
                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
            </script>
            <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.15/bootstrap-native-v4.min.js"></script>
            <script th:src="@{/js/flashMessage.js}"></script>
        </footer>
    </body>
</html>




