<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Habitus</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Habitus is a hands-on project from the mooc.fi course: Web-palvelinohjelmointi Java 2019"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="icon" th:href="@{/images/favicon.ico}" />
        <link type="text/css" th:href="@{/styles/landing.css}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
    <body>
        <div id="landing-header">
            <h1><a class="entryLink" href="/accounts">Welcome to Habitus</a></h1>
            <a class="entryLink" href="/accounts">Put Your Heart and Soul in Here</a>
        </div>

        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div th:replace="fragments/layout::footer"></div>
    </body>
</html>