.flash{  
  position:fixed;
  top:50px;
  left:0%;
  width: 100%;
  height:0%;
  text-align:center;
  overflow:hidden;
  box-sizing:border-box;
  transition:height .3s;
}

.flash-active{  
  height:100%;
}

