body {
    padding-top: 70px;
}

/* text link styling */
a:hover {
    text-decoration: none;
}

a:focus {
    outline: 0;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* cards */
.card {
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
}

.card:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

/*  cards button */
.btn-b-mg {
    margin-bottom: 20px;
}

/* image styling */
.thumbnail img {
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s;
}

.thumbnail img[data-src] {
    opacity: 0;
}

.thumbnail {
    padding: 0;
}

.campground__image {
    height: 150px;
}
/* logo */
span .align-bottom {
    vertical-align: bottom;
}


/* login, register, reset form style */
.rwd-form {
    margin: 25px auto;
    width: 90%;
}

/* logout button */
.link-button {
    background:none;
    color:grey;
    border:none; 
    padding-top:15px;
    font: inherit;
    cursor: pointer;
}

.link-button:active, .link-button:focus { 
    outline-color: transparent;
}

.link-button:hover {
    color: white;
}

@media (min-width: 600px) {
    .rwd-form {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .rwd-form {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .rwd-form {
        width: 30%;
    }
}

/* delete button */
.delete-form {
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

